.roboto-roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}
html{
    scroll-behavior: smooth;
    width: 100%;
    z-index: 100;
    min-height: 100vh;
}
body{
    font-family: Roboto, serif;
    margin: 0;
    background-color: #3C3D37;
    background-image: url("../images/reeeealll.jpg");
    background-size: cover;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
header{
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 9999;
}
#logoNav{
    border-radius: 50%;
    width: 150px;
    height: 80px;
    position: relative;
    left: 40px;
}
.navBarBtn{
    display: flex;
    /*width: 100%;*/
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
}
.navBarBtn > a{
    text-decoration: none;
    color: white;
}
#navigationLinksContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
nav{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.navBarBtn::after{
    content: "";
    position: absolute;
    top: 35px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width .2s;
}
.navBarBtn:hover::after{
    width: 100%;
}
.navBarBtn:hover{
    transform: scale(1.2);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
#hero{
    min-height: 100vh;
}
#containerHero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    color: white;
    position: relative;
}
#firstBlockWithTextHero > h1{
    font-size: 120px;
    margin-bottom: 4px;
}
#firstBlockWithTextHero >h2{
    font-size: 70px;
    margin-left: 40px;
    margin-top: 20px;
}

#firstBlockWithTextHero > p{
    font-size: 20px;;
}

#heroSubtitle{
    width: 680px;
    position: relative;
}
#heroSubtitle::after{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    border-radius: 30px;
    animation: 1s ease-in 1 underline;
    animation-fill-mode: forwards
}
#imageHolderHero{
    display: flex;
    position: relative;
    padding-top: 200px;
    padding-right: 50px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    width: 500px;
    height: 300px;
    opacity: 0;
}
#imageHolderHero.append{
    opacity: 1;
    animation: 1s ease-out 0s 1 slideInFromRight;
}
@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInLeftSubHero {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
#heroSubtitle{
    opacity: 0;
}
#heroSubtitle.visible{
    opacity: 1;
    animation: 1s ease-out 0s 1 slideInLeftSubHero;
}
.heroTitle{
    opacity: 0;
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}
.heroTitle.show{
    opacity: 1;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
#aim{
    position: relative;
    padding-top: 15vh;
}
#aim > h1{
    text-align: center;
    font-size: 70px;
    color: white;
}
#aimCardsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 50px; */
    margin-bottom: 20px;
}
.aimCard{
    text-align: center;
    color: white;
    width: 200px;
    height: 300px;
    /* background-color: #1E3A5F; */
    border-radius: 10%;
    position: relative;
    border: 2px solid #ffffff;
    transition: all ease-in-out 0.3s;
}
.aimCard:hover{
    transform: scale(1.1);
}
.aimCard > h3{
    font-weight: bold;
    font-size: 17px;
}
.aimCard::before{
    backdrop-filter: blur(10px);
    transition: all ease-in-out 0.3s;
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 10%;
}
.aimCard::after{
    display: flex;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 35px;
    width: 100%;
    height: 20%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
.aimCard > .aimCardImg{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    position: relative;
}
.aimCard > .aimCardText{
    margin-top: 30px;
    font-size: 13px;
    z-index: 2;
    position: relative;
}
.aimCard > h3{
    position: relative;
}
#contactUs{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
#contactUsContainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border: 2px solid #ffffff;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    width: 40%;
    height: 50vh;
    margin-bottom: 10vh;
}
#contactUs > h1{
    text-align: center;
    font-size: 70px;
    color: white;
}
.contactUsForm{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid white;
    width: 80%;
    height: 50px;
}
.imageInsideInput{
    width: 30px;
    height: 30px;
}
.containerImageInsideInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding-left: 5px;
}
.contactUsInput{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
#messageForm{
    height: 15vh;
    width: 60%
}
#MessageText{
    margin-left: 5px;
    resize: none;
    border-radius: 20px;
    padding-top: 10px;
    font-family: Roboto, serif;
}
#MessageText::placeholder{
    padding-top: 6vh;
    font-family: Roboto, serif;
}
.contactUsInput::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
#messageAndSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#submitBtn{
    background-color: #ffffff;
    color: #3C3D37;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}
#emailSentNotification{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    width: 13vh;
    height: 5vh;
    background-color: rgba(15, 255, 7, 0.5);
    border-radius: 10px;
    z-index: 9999;
}
#emailSentNotification.show{
    display: flex;
    animation: slideFromRightNotification 1s ease-in-out;
}
#emailSentNotification.show.hide{
    animation: hideNotification 1s ease-out;
}
@keyframes slideFromRightNotification{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes hideNotification{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}
#emailErrorNotification{
    display: none;
    bottom: 0;
    right: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 13vh;
    height: 5vh;
    background-color: rgba(255, 7, 7, 0.5);
    border-radius: 10px;
    z-index: 9999;
    position: fixed
}
#emailErrorNotificationText{
    color: white;
    margin-bottom: 20px;
}
#emailErrorNotification.show{
    display: flex;
    animation: slideFromRightNotification 1s ease-in-out;
}
#emailErrorNotification.show.hide{
    animation: hideNotification 1s ease-out;
}
#contacts > h1{
    margin-top: 20vh;
    color: white;
    position: relative;
    font-size: 70px;
}
#contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;
}
#contactsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    height: 55vh;
    backdrop-filter: blur(5px);
    margin-bottom: 5vh;
    border: 2px solid white;
    border-radius: 40px;
}
#contactsContainer > h3{
    font-size: 25px;
    margin: 5px;
    color: white;
}
#contactsContainer > p{
    color: white;
    font-size: 17px;
}
#contactsContainer > ul, li{
    list-style-type: "• ";
    color: white;
    margin: 3px;
    font-size: 17px;
}
footer{
    height: 8vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 17px;
    font-weight: bold;
    position: relative;
}